.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #333333;
    transition: 0.1s, ease-in-out;
    font-family: 'Roboto', sans-serif;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
}
   
.tutorial {
    width: 100vw;
    color: #cfcfcf;
    font-size: 16px;
    transition: width 0.55s ease-in-out, margin-left 0.55s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.tutorialHeader {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: fit-content;
    color: #cfcfcf;
    font-size: 32px;
    font-weight: bolder;
}

.paragraph {
    width: 80vw;
    height: fit-content;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    color: #cfcfcf;
}

@media(min-width: 576px) {
    .paragraph {
        font-size: 18px;
    }

    .tutorialHeader {
        font-size: 28px;
    }
}

@media(min-width: 768px) {
    .paragraph {
        font-size: 20px;
    }

    .tutorialHeader {
        font-size: 32px;
    }
}

@media(min-width: 992px) {
    .paragraph {
        font-size: 22px;
    }

    .tutorialHeader {
        font-size: 36px;
    }
}

@media(min-width: 1200px) {
    .paragraph {
        font-size: 24px;
    }

    .tutorialHeader {
        font-size: 42px;
    }
}

@media(min-width: 1400px) {
    .paragraph {
        font-size: 26px;
    }

    .tutorialHeader {
        font-size: 48px;
    }
}