.topnav {
    width: 100vw;
    height: fit-content;
    background: #414141;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    width: fit-content;
    height: fit-content;
    padding: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: calc(0.25rem + 5vmin);
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    border: none;
    background-color: transparent;
    color: #cfcfcf;
    transition: background-color 0.4s ease-in-out;
}

.title:hover {
    background-color: #cfcfcf19;
}

.navButtons {
    flex: 1;
    float: right;
}

.navButton {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    border: none;
    padding: 1vh;
    font-family: 'Roboto', sans-serif;
    font-size: calc(0.15rem + 5vmin);
    font-weight: bold;
    color: #cfcfcf;
    float: right;
    transition: background-color 0.4s ease-in-out;
}

.navButton:hover {
    background-color: #cfcfcf19;
}

.sidebarButton {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    font-size: calc(0.25rem + 5vmin);
    text-align: left;
    color: #cfcfcf;
    padding: 1vh;
    transition: background-color 0.4s ease-in-out;
}

.sidebarButton i {
    pointer-events: none;
}

.sidebarButton:hover {
    background-color: #cfcfcf19;
}