.dropdown {
    position: relative;
    top: 0;
    left: 74vw;
    right: 26vw;
    color: #cfcfcf;
    width: fit-content;
    height: fit-content;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    font-size: 14px;
}

.title {
    position: relative;
    top: 0;
    left: 0;
    width: fit-content;
    height: fit-content;
    user-select: none;
}

.expand {
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}

.expand:hover {
    background-color: #cfcfcf20;
}

.content {
    width: 30vw;
    height: 0vh;
    position: absolute;
    right: 0;
    top: 0.75vh;
    z-index: 9999;
    background-color: #777777;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    gap: 0.1vh;
    transition: visibility 0.5s ease-in-out;
}

.item {
    cursor: pointer;
    height: fit-content;
    border: 0.25vh dotted transparent;
    user-select: none;
    color: #cfcfcf20;
}

.item:hover {
    background-color: #cfcfcf20;
}

.selected {
    border: 0.25vh dotted #cfcfcf;
}

.active {
    color: #cfcfcf;
}

@media (hover: none) and (pointer: fine) {
    .item:hover {
        background-color: transparent;
    }

    .expand:hover {
        background-color: transparent;
    }
}

@media (hover: none) and (pointer: coarse) {
    .item:hover {
        background-color: transparent;
    }

    .expand:hover {
        background-color: transparent;
    }
}

@media (min-width: 576px) {
    .content {
        width: 30vw;
    }

    .dropdown {
        font-size: 16px;
    }

    .expand {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .content {
        width: 25vw;
    }

    .dropdown {
        font-size: 18px;
    }

    .expand {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .content {
        width: 20vw;
    }

    .dropdown {
        font-size: 20px;
    }

    .expand {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .content {
        width: 15vw;
    }

    .dropdown {
        font-size: 22px;
    }

    .expand {
        font-size: 22px;
    }
}

@media (min-width: 1400px) {
    .content {
        width: 10vw;
    }

    .dropdown {
        font-size: 24px;
    }

    .expand {
        font-size: 24px;
    }
}