.sidebar {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -100vw;
    -webkit-backface-visibility: hidden;
    background: #565656;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 0.5vh;
    color: #cfcfcf;
    scrollbar-color: #777777 #565656;
    transition: left 0.75s ease-in-out;
    z-index: 9999;
}

.navigation {
    width: 99%;
    height: fit-content;
}

.navigationButton {
    width: 99%;
    height: fit-content;
    font-size: 14px;
    border: none;
    padding: 0.5vh;
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
}

.navigationButton:hover {
    background-color: #cfcfcf19;
}

@media (hover: none) and (pointer: fine) {
    .navigationButton:hover {
        background-color: transparent;
    }
}

@media (hover: none) and (pointer: coarse) {
    .navigationButton:hover {
        background-color: transparent;
    }
}

@media (min-width: 576px) {
    .sidebar {
        width: 70vw;
    }

    .navigationButton {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .sidebar {
        width: 60vw;
    }

    .navigationButton {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    .sidebar {
        width: 50vw;
    }

    .navigationButton {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .sidebar {
        width: 30vw;
    }

    .navigationButton {
        font-size: 22px;
    }
}

@media (min-width: 1400px) {
    .sidebar {
        width: 25vw;
    }

    .navigationButton {
        font-size: 24px;
    }
}