.main {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: fit-content;
    background: #414141;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    -webkit-backface-visibility: hidden;
}

.title {
    width: fit-content;
    height: fit-content;
    padding: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    font-weight: bolder;
    border: none;
    background-color: transparent;
    color: #cfcfcf;
}

.title:hover {
    background-color: #cfcfcf19;
}

.navButtons {
    flex: 1;
    float: right;
}

.navButton {
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    margin-right: 1vw;
    border: none;
    padding: 1vh;
    font-weight: bold;
    color: #cfcfcf;
    float: right;
}

.navButton:hover {
    background-color: #cfcfcf19;
}

.sidebarButton {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    text-align: left;
    color: #cfcfcf;
    padding: 1vh;
    transition: background-color 0.4s ease-in-out;
}

.sidebarButton i {
    pointer-events: none;
}

.sidebarButton:hover {
    background-color: #cfcfcf19;
}

@media (hover: none) and (pointer: fine) {
    .title:hover {
        background-color: transparent;
    }

    .navButton:hover {
        background-color: transparent;
    }

    .sidebarButton:hover {
        background-color: transparent;
    }
}

@media (hover: none) and (pointer: coarse) {
    .title:hover {
        background-color: transparent;
    }

    .navButton:hover {
        background-color: transparent;
    }

    .sidebarButton:hover {
        background-color: transparent;
    }
}

@media (min-width: 576px) {
   .main {
       font-size: 18px;
   }
}

@media (min-width: 768px) {
    .main {
        font-size: 20px;
    }
}

@media (min-width: 992px) {
    .main {
        font-size: 22px;
    }
}

@media (min-width: 1200px) {
    .main {
        font-size: 24px;
    }
}

@media (min-width: 1400px) {
    .main {
        font-size: 28px;
    }
}