.main {
    width: 100vw;
    height: fit-content;
    color: #cfcfcf;
    font-size: 14px;
    transition: width 0.55s ease-in-out, margin-left 0.55s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height: fit-content;
    color: #cfcfcf;
    font-size: 18px;
    font-weight: bolder;
}

@media(min-width: 576px) {
    .main {
        font-size: 16px;
    }

    .header {
        font-size: 18px;
    }
}

@media(min-width: 768px) {
    .main {
        font-size: 18px;
    }

    .header {
        font-size: 20px;
    }
}

@media(min-width: 992px) {
    .main {
        font-size: 20px;
    }

    .header {
        font-size: 22px;
    }
}

@media(min-width: 1200px) {
    .main {
        font-size: 22px;
    }

    .header {
        font-size: 24px;
    }
}

@media(min-width: 1400px) {
    .main {
        font-size: 24px;
    }

    .header {
        font-size: 28px;
    }
}